#!/sbin/runscript
# Copyright 1999-2006 Gentoo Foundation
# Distributed under the terms of the GNU General Public License, v2 or later
# $Header: /var/cvsroot/gentoo-x86/sys-auth/consolekit/files/consolekit-0.1.rc,v 1.1 2007/03/24 17:09:06 steev Exp $

depend() {
	need dbus
	use logger
}

start() {
	ebegin "Starting ConsoleKit daemon"

	start-stop-daemon --start -q --exec /usr/sbin/console-kit-daemon --
	eend $?
}

stop() {
	ebegin "Stopping ConsoleKit daemon"
	start-stop-daemon --stop -q --pidfile /var/run/consolekit.pid 
	eend $?
}
